header{
  background-color: #ffffff;
  height: 4.5rem;
  box-shadow: 0 5px 5px 0.5px rgba(25,25,25,0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img{
  height: 62px;
  width: 62px;
}

ion-text{
  font-family: 'Rubik-Mono-One-Regular';
  font-size: 18px;
}

header .title{
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}