div.container{
  display: flex;
  align-items: center;
  // justify-content: space-around;
  height: 40vh;
}

ion-text{
  font-family: 'Rubik-Mono-One-Regular';
}

ion-text.not-found{
  font-size: 7rem;
  text-align: center;
}

ion-text.oops{
  font-size: 1.5rem;
  text-align: center;
  word-break: break-word;
  min-width: 50%;
}

.align-vertical{
  display: flex;
  flex-direction: column;
  // align-items: center;
  // gap: 0.25rem;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  ion-text.not-found{
    font-size: 7rem;
  }
  ion-text.oops{
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
  ion-text.not-found{
    font-size: 8rem;
  }
  ion-text.oops{
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  ion-text.not-found{
    font-size: 10rem;
  }
  ion-text.oops{
    font-size: 2rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  ion-text.not-found{
    font-size: 12rem;
  }
  ion-text.oops{
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1275px) {
  ion-text.not-found{
    font-size: 14rem;
  }
  ion-text.oops{
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1276px) and (max-width: 2559px) {
  ion-text.not-found{
    font-size: 16rem;
  }
  ion-text.oops{
    font-size: 3rem;
  }
}

@media screen and (min-width: 2560px) {
  ion-text.not-found{
    font-size: 16rem;
    word-break: break-word;
    max-width: 80%;
  }
  ion-text.oops{
    font-size: 4rem;
  }
}